.App {
	text-align: center;
}

*,
:after,
:before {
	box-sizing: border-box;
}

header {
	justify-content: space-between;
	padding: 1rem 0;
	background-color: #0b0c10;
	color: #66fcf1;
}
header h1 {
	font-size: 50px;
}

nav {
	background: #0b0c10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

nav h1 {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}

nav a {
	color: #66fcf1;
	display: inline-block;
	padding: 20px;
	font-size: 0.8em;
	text-decoration: none;
}

nav a:hover {
	background: #45a29e;
	color: #0b0c10;
}

body {
	background-color: #1f2833;
	color: #66fcf1;
}
